@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;400;600;700&display=swap');

h1
 {
    font-family: "Lexend";
    font-weight: 700;
}

h2{
    font-family: "Lexend";
    font-weight: 600;
}

body,a,text,
p {
    font-family: "Lexend";
    font-size: 9px;
    letter-spacing: 0.5px;
    
    
}

a {
    color: inherit;
    text-decoration: none;
    font-family: "Lexend";
    font-size: 16px;

}

#intro-man {
    padding: 10px 0 10px 15px;

}

.intro {
    padding: 10px 15px 10px 0;
    ;
}


.aboutText {
    padding: 10px 0 10px 15px;
}

#bikeMan {
    padding: 10px 15px 10px 0;
}

#our_services_h1{
    padding: 5px 45px 5px 25px;
}

.card-text{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
}

#cards{
    margin-top: 70px;
}

.satisfaction{
    padding: 5px 100px;

}
#promise-cards{
    padding:5px 200px 5px 0
}

.menu-foot{
    padding-left: 20px;
    padding-right: 20px;
}